appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
constantly==15.1.0
cssselect==1.1.0
datashape==0.5.4
dj-database-url==3.0.0
Django==5.0.7
django-cors-headers==4.4.0
django-filter==24.3
djangorestframework==3.15.2
et-xmlfile==1.1.0
fonttools==4.25.0
gunicorn==23.0.0
inflection==0.5.1
jsonpointer==2.1
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
pep8==1.7.1
ply==3.11
psycopg2-binary==2.9.9
pyarrow==11.0.0
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
queuelib==1.5.0
sqlparse==0.5.1
webencodings==0.5.1
whitenoise==6.9.0